:root {
  --primary-color: #3498db;
  --button-bg: #2ecc71;
  --radio-indicator-size: 1.25rem;
  --delete-red: red;
}

.radio-group {
  display: flex;
  justify-content: center;
}

.radio-input {
  display: none;
}

.radio-label {
  position: relative;
  padding-left: calc(var(--radio-indicator-size) + 0.625rem);
  cursor: pointer;
  display: inline-block;
}

.radio-input:checked + .radio-label {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.radio-input:checked + .radio-label {
  color: var(--primary-color);
}

html {
  display: grid;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.select-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.select-input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.btn-delete {
  background-color: #fff;
  border: 1px solid var(--delete-red);
  color: var(--delete-red);
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-delete:hover {
  background-color: var(--delete-red);
  color: #fff;
  border: 1px solid var(--delete-red);
}

.btn-delete:active {
  background-color: var(--delete-red);
  color: #fff;
  border: 1px solid var(--delete-red);
}

.btn-delete svg {
  fill: var(--delete-red);
  width: 1.5rem;
  height: 1.5rem;
}

.btn-delete:hover svg {
  fill: #fff;
}
