:root {
  --primary-color: #3498db;
  --button-bg: #2ecc71;
  --hover-color: #bee1f8;
  --text-white: #fff;
  --text-black: black;
  --delete-red: red;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.select-country {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.select-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
/* asdfijuhlasfdkjhlnc */
.options-container{
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  grid-template-rows: 1fr 0.1fr 0.5fr 0.1fr 0.5fr;
  grid-template-areas: 
  ". r1 ."
  ". l1 ."
  ". c1 ."	
  ". l2 ."
  ". c2 ."	
  ;
}

.radio-group{
  grid-area: r1;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

#l1{
  grid-area: l1;
}

#l2{
  grid-area: l2;
}

#c1{
  grid-area: c1;
}

#c2{
  grid-area: c2;
}


.select2-container{
  width: 100% !important;
} 


/* asdibhyflfasdkhljb */
/* Delete button styling */
.btn-delete {
  background-color: var(--text-white);
  border: 1px solid var(--delete-red);
  color: var(--delete-red);
  /* padding: 0.625rem 1.25rem; */
  padding: 0.25rem 0.5rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-delete:hover {
  background-color: var(--delete-red);
  color: var(--text-white);
  border: 1px solid var(--delete-red);
}

/* Radio buttons styling */
.radio-group {
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 1rem 0; */
}



.radio-label {
  padding: 0.5rem 1rem;
  cursor: pointer;
  /* margin: 0.25rem; */
  transition: background-color 0.3s, color 0.3s, border 0.3s;

  border: 2px solid var(--hover-color);
  border-radius: 0.25rem;
}

.radio-label:hover {
  background-color: var(--hover-color);
  color: var(--text-white);
}

.radio-input:checked + .radio-label {
  color: var(--text-white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.radio-label:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #db3434; /* Add your custom focus border color */
}

.radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.radio-input:focus + .radio-label {
  /* border: 2px solid var(--text-black); */
  /* border: 2px solid black; */
  border: 2px solid var(--text-black);
}

.select2-selection__choice {
  color: var(--text-white);
  background-color: var(--primary-color)!important;
}
.select2-selection__choice__remove{
  color: var(--delete-red) !important;
}

/* .select2-container{
  width: 40% !important;
} */

.chart-container {
  margin-left: 3rem;
  margin-right: 3rem;
  overflow: visible;
}
/* 
@media only screen and (max-width: 1200px){

  .select2-container{
    width: 50% !important;
  }
} */


@media only screen and (max-width: 600px) {

  .select-container {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .chart-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* .select2-container{
    width: 100% !important;
  } */
}


@media only screen and (min-width: 901px) and (max-width: 1200px) {

  .chart-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/* @media only screen and (min-width: 2200px){

  .select2-container{
    width: 30% !important;
  }
}
 */
