:root {
  --primary-color: #3498db;
  --link-color: var(--primary-color);

  --hover-color: #bee1f8;
  --text-white: #fff;
  --text-black: #333333;
  --responsive-margin-body: 8rem;
  --font-size-largest: 1.5rem;
  --header2-font-size: 1.2rem;
  --font-size: 1rem;
  --header3-font-size: var(--font-size);
  --line-height: 1.6;

  --background-color: #f5f5f5;

  --accent-red: #e74c3c;
  --delete-red: var(--accent-red);

  --font-family-fallback: "Arial", sans-serif;
  --font-family-primary: "Publico Text Web";
  --font-family-title: "Canela Web";
  --font-family-header: "Atlas Grotesk Web";
}

.title {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


a {
  color: var(--link-color);
}

body {
  font-family: var(--font-family-fallback);
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-black);
  background-color: var(--background-color);
}

.prose-center {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1.3em;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family-primary);
}

.title {
  margin: 0 1rem;
  margin-top: calc(var(--responsive-margin-body) / 2);
  margin-bottom: calc(var(--responsive-margin-body) / 2);
  font-size: var(--font-size-largest);
  text-align: center;
  font-family: var(--font-family-title);
  color: var(--primary-color);
}

h2,
h3 {
  font-family: var(--font-family-header);
  font-size: var(--header2-font-size) !important;
  color: var(--primary-color);
}

h3 {
  font-size: var(--header3-font-size) !important;
}

.chart-container {
  margin-left: var(--responsive-margin-body);
  margin-right: var(--responsive-margin-body);
  margin-bottom: 1rem;
  min-height: 37.5rem;
}

.select-country {
  margin-bottom: 1rem;
}

/* .select-container {
  display: flex;
  justify-content: center;
  align-items: start;
  align-items: center;
  gap: 1rem;
  height: 50%;

} */

.select2-container .select2-selection--multiple {
  max-height: 9.375rem;
  overflow-y: auto;
}

.select2-container .select2-selection__rendered {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.select-input {
  width: 100%;
  padding: 0.75rem;
  /* font-size: 1rem; */
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.options-container {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr auto;
  grid-template-areas:
    "continent-filter ."
    "continent-select continent-remove"
    "country-filter ."
    "country-select country-remove";
}

.js-button-filter-continent-remove {
  grid-area: continent-remove;
}

.js-button-filter-country-remove {
  grid-area: country-remove;
}

.margin-bottom-m {
  margin-bottom: calc(var(--responsive-margin-body) / 2);
}

#continentFilterLabel {
  grid-area: continent-filter;
}

#countryFilterLabel {
  grid-area: country-filter;
}

#continentFilterContainer {
  grid-area: continent-select;
}

#countryFilterContainer {
  grid-area: country-select;
}

.select2-container {
  width: 100% !important;
}

.btn-delete {
  background-color: var(--text-white);
  border: 1px solid var(--delete-red);
  color: var(--delete-red);
  padding: 0.25rem 0.5rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s, transform 0.2s ease-in-out;

  margin-left: 1rem;
  margin-bottom: 1rem;

  height: 36.2px;  /* same as select */
}

.btn-delete:hover {
  background-color: var(--delete-red);
  color: var(--text-white);
  border: 1px solid var(--delete-red);

  transform: scale(1.1);
}

.select2-selection__choice {
  color: var(--text-white);
  background-color: var(--primary-color) !important;
}
.select2-selection__choice__remove {
  color: var(--delete-red) !important;
}

.footer{
  text-align: center;
  font-size: 0.8rem;
}

@media only screen and (max-width: 800px) {
  :root {
    --responsive-margin-body: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --responsive-margin-body: 3rem;
  }
  .prose-center {
    margin: 0 auto;
  }
  .prose-center {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --responsive-margin-body: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    --responsive-margin-body: 1rem;
  }
}
